 1. Загрузка данных
Загрузите данные https://raw.githubusercontent.com/trisha00001/Data_Preprocessing/main/adult.csv

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/trisha00001/Data_Preprocessing/main/adult.csv')
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

2.  Ознакомление с данными

- Первичный осмотр данных для понимания их структуры, типов данных и наличия пропущенных значений.
- Используйте методы head(), info() и describe() для получения общей информации о наборе данных.
- Сделайте выводы.

In [2]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capitalGain     32561 non-null  int64
 11  capitalLoss     32561 non-null  int64
 12  hoursPerWeek    32561 non-null  int64
 13  nativeCountry   31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
df.describe()

,age,fnlwgt,education-num,capitalGain,capitalLoss,hoursPerWeek
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

 3. Обнаружение и обработка пропущенных значений

- Найдите и удалите строки с пропущенными значениями.

In [5]:
missing_values = df.isna().sum()
print(missing_values)

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capitalGain          0
capitalLoss          0
hoursPerWeek         0
nativeCountry      583
income               0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
missing_values = df.isna().sum()
print(missing_values)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capitalGain       0
capitalLoss       0
hoursPerWeek      0
nativeCountry     0
income            0
dtype: int64

 4. Обнаружение и удаление дубликатов

- Дубликаты данных могут исказить результаты анализа. Выявите и удалите дубликаты с помощью метода drop_duplicates().

In [8]:
df.drop_duplicates(inplace=True)

 5. Обработка категориальных признаков:

- Для последующего анализа категориальные признаки следует переводить в числовую последовательность. Преобразуйте целевой признак (income) в числовую форму с помощью LabelEncoder, где <=50K будет закодировано как 0, а >50K как 1.
- Используйте OneHotEncoder для преобразования категориальных признаков в бинарные, что позволяет модели оперировать категориальными данными.

In [9]:
import seaborn as sns
iris= sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [10]:
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [11]:

# Import label encoder
from sklearn import preprocessing

# label_encoder object knows
# how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
iris['species']= label_encoder.fit_transform(iris['species'])

iris['species'].unique()

array([0, 1, 2])

In [12]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df ['income'] = label_encoder.fit_transform(df ['income']) + 1

In [17]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,1
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,1
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,2
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,1
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,1
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,2

In [18]:
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()

#Initialize OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)

# Apply one-hot encoding to the categorical columns
one_hot_encoded = encoder.fit_transform(df[categorical_columns])

#Create a DataFrame with the one-hot encoded columns
#We use get_feature_names_out() to get the column names for the encoded data
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))

# Concatenate the one-hot encoded dataframe with the original dataframe
df_encoded = pd.concat([df, one_hot_df], axis=1)

# Drop the original categorical columns
df_encoded = df_encoded.drop(categorical_columns, axis=1)
df_encoded

NameError: name 'OneHotEncoder' is not defined

 6. Масштабирование числовых признаков: Масштабируйте числовые признаки с помощью StandardScaler, так чтобы они имели среднее значение 0 и стандартное отклонение 1.

In [15]:
numeric_features = ["age", "fnlwgt",  "capitalGain", "capitalLoss"]
from sklearn.preprocessing import StandardScaler
data_transformed = StandardScaler().fit_transform(df[numeric_features])
data_transformed

array([[ 0.04251551, -1.06267604,  0.14592531, -0.21867335],
       [ 0.88021451, -1.00782869, -0.14750209, -0.21867335],
       [-0.03363895,  0.24466912, -0.14750209, -0.21867335],
       ...,
       [ 1.48945015, -0.35856661, -0.14750209, -0.21867335],
       [-1.25211023,  0.11068825, -0.14750209, -0.21867335],
       [ 1.03252342,  0.92877986,  1.8803053 , -0.21867335]])

**1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?**

In [16]:
df['sex'].value_counts()

sex
Male      20366
Female     9773
Name: count, dtype: int64

In [19]:
female = df[(df['sex']=='Female')]
print('Female', len(female))
male = df[(df['sex']=='Male')]
print('Male', len(male))

Female 9773
Male 20366

In [20]:
df[(df['sex'] == 'Male')].shape

(20366, 15)

In [21]:
sex= df.groupby(['sex'])
print(sex.size())

sex
Female     9773
Male      20366
dtype: int64

In [22]:
Adul_sex=df['sex'].value_counts()
Adul_sex
print('Мужчин: {} Женщин: {}'.format(Adul_sex['Male'], Adul_sex['Female']))

Мужчин: 20366 Женщин: 9773

In [23]:

print(f"We have {sum(df['sex']=='Male')} males, {sum(df['sex']=='Female')} females.")

We have 20366 males, 9773 females.

**2. Каков средний возраст (признак age) женщин?**

In [24]:
round(df[df['sex'] == 'Female']['age'].mean())

37

In [25]:
print(f"The average women's age is : {df['age'][df['sex']=='Female'].mean():.2f}.")

The average women's age is : 36.89.

In [26]:

female = df[(df['sex']=='Female')]['age']
a = female.mean()
print('Средний возраст женщин', np.round(female.mean(), 1), 'лет')

Средний возраст женщин 36.9 лет

In [27]:
df[df.sex == 'Female']['age'].mean()

np.float64(36.89061700603704)

**3. Какова доля граждан Германии (признак native-country)?**

In [28]:
(float((df['nativeCountry'] == 'Germany').sum()) / df.shape[0])*100

0.4246988951192807

In [29]:
Germans = df[(df['nativeCountry'] == 'Germany')]
print(len(Germans))

All_nations = df['nativeCountry']
print(len(All_nations))

Germans_part = round(len(Germans)/len(All_nations) * 100, 2)
print('Доля граждан Германии составляет', Germans_part, '%')

128
30139
Доля граждан Германии составляет 0.42 %

In [30]:
German_citizens = (df[df['nativeCountry'] == 'Germany']['nativeCountry'].count())
print("Доля граждан Германии: ", round(100*German_citizens / df['nativeCountry'].count(), 2), " % (", German_citizens, " из ", df['nativeCountry'].count(), ")")

Доля граждан Германии:  0.42  % ( 128  из  30139 )

In [31]:
print("доля граждан Германии %.2f" %
(len(df.query("nativeCountry == 'Germany'")['nativeCountry'])/len(df)*100))

доля граждан Германии 0.42

In [32]:
print(f"The percentage of Germans in dataset is : {sum(df['nativeCountry']=='Germany')/df.shape[0]*100:.2f}%.")

The percentage of Germans in dataset is : 0.42%.

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?**

In [33]:
age1 = df[df['income'] == '>50K']['age']
age1

Series([], Name: age, dtype: int64)

In [34]:
age2 = df[df['income'] == '<=50K']['age']

In [35]:
print("Средний возраст : {0} (>50K) , {1} (<=50K); среднеквадратичные отклонения - {2} (>50K), {3} (<=50K)".format(
    round(age1.mean()), round(age2.mean()),
    round(age1.std(), 1), round(age2.std(), 1)))

ValueError: cannot convert float NaN to integer

In [36]:
print('Средние значения возраста тех, кто получает менее 50K в год',
round(df[(df['income']=='<=50K')]['age'].mean(), 1),'лет')
print('Среднеквадратичные отклонения возраста тех, кто получает менее 50K в год',
round(np.var(df[(df['income']=='<=50K')]['age']), 1),'лет')

print('Средние значения возраста тех, кто получает более 50K в год',
round(df[(df['income']=='>50K')]['age'].mean(), 1),'лет')
print('Среднеквадратичные отклонения возраста тех, кто получает более 50K в год',
round(np.var(df[(df['income']=='>50K')]['age']), 1),'лет')

Средние значения возраста тех, кто получает менее 50K в год nan лет
Среднеквадратичные отклонения возраста тех, кто получает менее 50K в год nan лет
Средние значения возраста тех, кто получает более 50K в год nan лет
Среднеквадратичные отклонения возраста тех, кто получает более 50K в год nan лет

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)**

In [37]:
df[df['income'] == '>50K']['education'].unique()

array([], dtype=object)

In [38]:
print(f"The most wide-spread education of those earning more than 50K per year is : {df['education'][df['income'] == '>50K'].mode()[0]}")
highEd = ['Bachelors',
'Prof-school',
'Assoc-acdm',
'Assoc-voc',
'Masters',
'Doctorate']
cnt50K = sum(df['income'] == '>50K')
cntHighEd50K = sum(df['education'][df['income'] == '>50K'].isin(highEd))
print(f"Share of those having higher education among well-endowed people earning more than 50K per year : {(cntHighEd50K/cnt50K*100):.2f}%")
print(f"Share of those having no higher education among well-endowed people earning more than 50K per year : {((1 - cntHighEd50K/cnt50K)*100):.2f}%")

KeyError: 0

In [39]:
education_grad = df[df['income'] == '>50K'].groupby(['education'])
education_grad.size()

Series([], dtype: int64)

In [40]:

Bachelors = df[(df['income']=='>50K')][(df['education']=='Bachelors')]
#print('Bachelors:', len(Bachelors))
Prof_school = df[(df['income']=='>50K')][(df['education']=='Prof-school')]
#print('Prof-school:', len(Prof_school))
Assoc_acdm =df[(df['income']=='>50K')][(df['education']=='Assoc-acdm')]
#print('Assoc-acdm:', len(Assoc_acdm))
Assoc_voc =df[(df['income']=='>50K')][(df['education']=='Assoc-voc')]
#print('Assoc-voc:', len(Assoc_voc))
Masters = df[(df['income']=='>50K')][(df['education']=='Masters')]
#print('Masters:', len(Masters))
Doctorate = df[(df['income']=='>50K')][(df['education']=='Doctorate')]
#print('Doctorate:', len(Doctorate))

rich_educated_people = len(Bachelors)+len(Assoc_acdm)+len(Assoc_voc)+len(Masters)+len(Doctorate)+len(Prof_school)
print('Общее колличество образованных людей, получающих более 50k', rich_educated_people)

rich_non_educated_people = len(df[(df['income']=='>50K')]) - rich_educated_people
print('Общее колличество необразованных людей получающих более 50k', rich_non_educated_people)

print('Утверждение о том что люди, которые получают больше 50k, имеют как минимум высшее образование',
rich_non_educated_people==0)

Общее колличество образованных людей, получающих более 50k 0
Общее колличество необразованных людей получающих более 50k 0
Утверждение о том что люди, которые получают больше 50k, имеют как минимум высшее образование True

/tmp/ipython-input-40-1856272796.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Bachelors = df[(df['income']=='>50K')][(df['education']=='Bachelors')]
/tmp/ipython-input-40-1856272796.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Prof_school = df[(df['income']=='>50K')][(df['education']=='Prof-school')]
/tmp/ipython-input-40-1856272796.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Assoc_acdm =df[(df['income']=='>50K')][(df['education']=='Assoc-acdm')]
/tmp/ipython-input-40-1856272796.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Assoc_voc =df[(df['income']=='>50K')][(df['education']=='Assoc-voc')]
/tmp/ipython-input-40-1856272796.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Masters = df[(df['income']=='>50K')][(df['education']=='Masters')]
/tmp/ipython-input-40-1856272796.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Doctorate = df[(df['income']=='>50K')][(df['education']=='Doctorate')]

**7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.**

In [41]:
p = df[['age', 'race']].groupby('race').describe()
p

                        age                                                 \
                      count       mean        std   min   25%   50%    75%
race
Amer-Indian-Eskimo    286.0  36.737762  11.630168  17.0  28.0  35.0  44.75
Asian-Pac-Islander    894.0  37.852349  12.473421  17.0  28.0  36.0  45.75
Black                2816.0  37.867543  12.415907  17.0  28.0  37.0  46.00
Other                 231.0  33.601732  10.949163  17.0  26.0  31.0  41.00
White               25912.0  38.586408  13.251160  17.0  28.0  37.0  47.00


                     max
race
Amer-Indian-Eskimo  80.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0

In [42]:

print(f"The oldest American eskimo male is {p[('age', 'max')]['Amer-Indian-Eskimo']:.0f} years old.")

The oldest American eskimo male is 80 years old.

In [43]:
for (race, sex), iter1 in df.groupby( ['race', 'sex']):
    print("Раса: {0}, пол: {1}".format(race, sex))
    print(iter1['age'].describe())

Раса: Amer-Indian-Eskimo, пол: Female
count    107.000000
mean      37.252336
std       12.933862
min       17.000000
25%       28.000000
50%       37.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Раса: Amer-Indian-Eskimo, пол: Male
count    179.000000
mean      36.430168
std       10.802589
min       17.000000
25%       28.000000
50%       35.000000
75%       44.000000
max       71.000000
Name: age, dtype: float64
Раса: Asian-Pac-Islander, пол: Female
count    294.000000
mean      35.363946
std       11.819758
min       17.000000
25%       25.250000
50%       34.000000
75%       44.000000
max       75.000000
Name: age, dtype: float64
Раса: Asian-Pac-Islander, пол: Male
count    600.000000
mean      39.071667
std       12.612890
min       18.000000
25%       29.000000
50%       37.000000
75%       47.000000
max       90.000000
Name: age, dtype: float64
Раса: Black, пол: Female
count    1399.000000
mean       38.042888
std        12.320976
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Раса: Black, пол: Male
count    1417.000000
mean       37.694425
std        12.510862
min        17.000000
25%        28.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Раса: Other, пол: Female
count    87.000000
mean     31.908046
std      10.216986
min      17.000000
25%      24.000000
50%      29.000000
75%      39.500000
max      58.000000
Name: age, dtype: float64
Раса: Other, пол: Male
count    144.000000
mean      34.625000
std       11.280204
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Раса: White, пол: Female
count    7886.000000
mean       36.793178
std        13.816102
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Раса: White, пол: Male
count    18026.000000
mean        39.370909
std         12.918647
min         17.000000
25%         29.000000
50%         38.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [44]:
# статистика для женщин
race_dicision_Female = df[(df['race'] == 'Amer-Indian-Eskimo') & (df['sex'] == 'Female')].groupby('sex')
race_dicision_Female.describe()

          age                                                     fnlwgt  \
        count       mean        std   min   25%   50%   75%   max  count
sex
Female  107.0  37.252336  12.933862  17.0  28.0  37.0  46.0  80.0  107.0

                       ... hoursPerWeek       income                           \
                 mean  ...          75%   max  count      mean       std  min
sex                    ...
Female  114351.317757  ...         40.0  84.0  107.0  1.102804  0.305132  1.0


        25%  50%  75%  max
sex
Female  1.0  1.0  1.0  2.0

[1 rows x 56 columns]

In [45]:


# статистика для мужчин
race_dicision_Male = df[(df['race'] == 'Amer-Indian-Eskimo') & (df['sex'] == 'Male')].groupby(['age'])
race_dicision_Male.size()
race_dicision_Male.describe()

    fnlwgt                                                               \
     count           mean            std       min        25%       50%
age
17     1.0   27415.000000            NaN   27415.0   27415.00   27415.0
18     2.0  124003.000000  100259.256291   53109.0   88556.00  124003.0
19     1.0   29798.000000            NaN   29798.0   29798.00   29798.0
20     2.0   82494.000000   78003.777460   27337.0   54915.50   82494.0
21     2.0  274937.000000   41528.381259  245572.0  260254.50  274937.0
22     5.0  143289.400000   78913.320946   29444.0  108506.00  145477.0
23     8.0  109796.000000  102722.425884   13769.0   30588.00   85439.0
24     3.0  178806.333333  112397.439705   50400.0  138534.00  226668.0
25     5.0  190308.800000  101560.209170   55636.0  130397.00  194897.0
26     3.0  106531.666667   40411.040327   73392.0   84022.00   94652.0
27     6.0  103561.166667   78300.060328   23740.0   32119.50  106462.0
28    10.0  110638.500000  103004.780356   25955.0   30666.75   70851.0
29     8.0  111642.000000   70046.676593   22641.0   51411.75  114047.0
30     6.0  214617.000000  136856.921528   23037.0  111437.50  254641.5
31     8.0   89171.250000   55828.533055   22201.0   51287.75   97417.5
32     6.0  132281.666667   92323.995745   27939.0   49520.75  143334.5
33     4.0  154382.500000  145845.229885   27959.0   59612.75  116778.0
34     6.0  103303.000000   90211.602952   22641.0   29336.00   85975.0
35    11.0   91816.818182   59933.177923   22055.0   26859.00  107233.0
36     4.0  116812.000000   71098.429397   32587.0   74872.00  119638.0
37     3.0  161114.666667   51688.836554  116358.0  132827.50  149297.0
38     4.0  102873.500000   75977.883793   33105.0   39469.50  101328.5
39     2.0  111949.500000    6670.138267  107233.0  109591.25  111949.5
40     7.0  117872.428571   78095.049941   34113.0   95639.00   96509.0
41     4.0  161530.000000   71557.216645  113555.0  117429.50  133017.5
42     6.0  149509.166667  106219.577115   23813.0   82877.00  124490.0
43     5.0  154039.200000   67483.314391   75435.0   98989.00  161226.0
44     4.0  106413.500000   65717.346388   33105.0   82518.00   99786.5
45     4.0   79859.000000  106156.000000   26781.0   26781.00   26781.0
46     9.0  126517.777778   42135.985300   26781.0  117059.00  134727.0
47     4.0  157106.500000   64715.396646   89146.0  125302.00  147627.5
48     1.0  243631.000000            NaN  243631.0  243631.00  243631.0
49     1.0  190319.000000            NaN  190319.0  190319.00  190319.0
51     8.0  122079.625000   86882.237303   35211.0   51489.00   90176.5
52     2.0  262507.500000   28519.737806  242341.0  252424.25  262507.5
53     3.0  103234.666667   75074.475671   20676.0   71147.00  121618.0
56     2.0  111151.500000   72104.385584   60166.0   85658.75  111151.5
57     2.0  244344.500000   98407.343631  174760.0  209552.25  244344.5
58     1.0   41374.000000            NaN   41374.0   41374.00   41374.0
59     1.0  117059.000000            NaN  117059.0  117059.00  117059.0
60     3.0   65553.333333   71914.245879   21101.0   24069.00   27037.0
67     1.0  126849.000000            NaN  126849.0  126849.00  126849.0
71     1.0  322789.000000            NaN  322789.0  322789.00  322789.0

                         education-num             ... hoursPerWeek        \
           75%       max         count       mean  ...          75%   max
age                                                ...
17    27415.00   27415.0           1.0   7.000000  ...        20.00  20.0
18   159450.00  194897.0           2.0   8.000000  ...        35.00  40.0
19    29798.00   29798.0           1.0   8.000000  ...        20.00  20.0
20   110072.50  137651.0           2.0   9.500000  ...        46.00  48.0
21   289619.50  304302.0           2.0   7.000000  ...        40.00  40.0
22   214134.00  218886.0           5.0   8.400000  ...        75.00  84.0
23   154827.00  306601.0           8.0  10.250000  ...        40.00  40.0
24   243009.50  259351.0           3.0   9.666667  ...        40.00  40.0
25   258276.00  312338.0           5.0   9.000000  ...        40.00  40.0
26   123101.50  151551.0           3.0   9.666667  ...        44.00  48.0
27   156266.00  204497.0           6.0   7.833333  ...        40.00  75.0
28   143903.00  314649.0          10.0   9.300000  ...        52.50  60.0
29   182656.00  190636.0           8.0   9.250000  ...        51.00  65.0
30   315408.50  356015.0           6.0   8.500000  ...        53.25  84.0
31   103904.50  197023.0           8.0   8.875000  ...        40.00  45.0
32   197342.75  245487.0           6.0   7.666667  ...        55.00  60.0
33   211547.75  356015.0           4.0  10.000000  ...        51.00  60.0
34   148456.50  245487.0           6.0   8.833333  ...        51.00  60.0
35   130270.00  197719.0          11.0   9.636364  ...        47.50  60.0
36   161578.00  195385.0           4.0   9.250000  ...        46.25  65.0
37   183493.00  217689.0           3.0   9.333333  ...        40.00  48.0
38   164732.50  175732.0           4.0  11.000000  ...        55.00  70.0
39   114307.75  116666.0           2.0   9.000000  ...        46.00  48.0
40   109250.50  284706.0           7.0   9.571429  ...        46.50  60.0
41   177118.00  266530.0           4.0   9.000000  ...        50.00  50.0
42   219338.00  304302.0           6.0  10.500000  ...        55.00  60.0
43   195385.00  239161.0           5.0  10.000000  ...        40.00  40.0
44   123682.00  192976.0           4.0  10.000000  ...        40.00  40.0
45    79859.00  239093.0           4.0   9.500000  ...        40.00  40.0
46   147640.00  176552.0           9.0   8.666667  ...        40.00  60.0
47   179432.00  244025.0           4.0   8.750000  ...        44.00  56.0
48   243631.00  243631.0           1.0  10.000000  ...        40.00  40.0
49   190319.00  190319.0           1.0  13.000000  ...        40.00  40.0
51   211285.00  243631.0           8.0   9.750000  ...        47.75  60.0
52   272590.75  282674.0           2.0   6.500000  ...        40.00  40.0
53   144514.00  167410.0           3.0   8.666667  ...        44.00  48.0
56   136644.25  162137.0           2.0   5.500000  ...        58.75  65.0
57   279136.75  313929.0           2.0  11.000000  ...        40.00  40.0
58    41374.00   41374.0           1.0   9.000000  ...        40.00  40.0
59   117059.00  117059.0           1.0   7.000000  ...        40.00  40.0
60    87779.50  148522.0           3.0   9.333333  ...        45.00  50.0
67   126849.00  126849.0           1.0   6.000000  ...        20.00  20.0
71   322789.00  322789.0           1.0   9.000000  ...        35.00  35.0

    income
     count      mean       std  min   25%  50%   75%  max
age
17     1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
18     2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
19     1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
20     2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
21     2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
22     5.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
23     8.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
24     3.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
25     5.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
26     3.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
27     6.0  1.166667  0.408248  1.0  1.00  1.0  1.00  2.0
28    10.0  1.100000  0.316228  1.0  1.00  1.0  1.00  2.0
29     8.0  1.125000  0.353553  1.0  1.00  1.0  1.00  2.0
30     6.0  1.166667  0.408248  1.0  1.00  1.0  1.00  2.0
31     8.0  1.125000  0.353553  1.0  1.00  1.0  1.00  2.0
32     6.0  1.166667  0.408248  1.0  1.00  1.0  1.00  2.0
33     4.0  1.250000  0.500000  1.0  1.00  1.0  1.25  2.0
34     6.0  1.333333  0.516398  1.0  1.00  1.0  1.75  2.0
35    11.0  1.090909  0.301511  1.0  1.00  1.0  1.00  2.0
36     4.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
37     3.0  1.333333  0.577350  1.0  1.00  1.0  1.50  2.0
38     4.0  1.250000  0.500000  1.0  1.00  1.0  1.25  2.0
39     2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
40     7.0  1.285714  0.487950  1.0  1.00  1.0  1.50  2.0
41     4.0  1.250000  0.500000  1.0  1.00  1.0  1.25  2.0
42     6.0  1.166667  0.408248  1.0  1.00  1.0  1.00  2.0
43     5.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
44     4.0  1.250000  0.500000  1.0  1.00  1.0  1.25  2.0
45     4.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
46     9.0  1.111111  0.333333  1.0  1.00  1.0  1.00  2.0
47     4.0  1.250000  0.500000  1.0  1.00  1.0  1.25  2.0
48     1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0
49     1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
51     8.0  1.125000  0.353553  1.0  1.00  1.0  1.00  2.0
52     2.0  1.500000  0.707107  1.0  1.25  1.5  1.75  2.0
53     3.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
56     2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
57     2.0  1.000000  0.000000  1.0  1.00  1.0  1.00  1.0
58     1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
59     1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
60     3.0  1.333333  0.577350  1.0  1.00  1.0  1.50  2.0
67     1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
71     1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0

[43 rows x 48 columns]

In [46]:
df.groupby(['race', 'age']).describe()

                       fnlwgt                                          \
                        count           mean            std       min
race               age
Amer-Indian-Eskimo 17     3.0   85667.333333   52726.233000   27415.0
                   18     4.0  147675.500000  124316.647074   40829.0
                   19     5.0   92024.600000   94669.769659   29083.0
                   20     2.0   82494.000000   78003.777460   27337.0
                   21     6.0  181713.000000   91018.186890   75763.0
...                       ...            ...            ...       ...
White              84     7.0  169955.285714   36986.769016  132806.0
                   85     3.0  126667.333333   35100.616410   98611.0
                   86     1.0  149912.000000            NaN  149912.0
                   88     3.0  153975.666667   74610.122754   68539.0
                   90    28.0  171044.785714   87950.755720   40388.0

                                                                education-num  \
                              25%       50%       75%       max         count
race               age
Amer-Indian-Eskimo 17    63438.50   99462.0  114793.5  130125.0           3.0
                   18    50039.00  124003.0  221639.5  301867.0           4.0
                   19    29798.00   30800.0  126501.0  243941.0           5.0
                   20    54915.50   82494.0  110072.5  137651.0           2.0
                   21   103932.75  190530.5  238196.5  304302.0           6.0
...                           ...       ...       ...       ...           ...
White              84   145448.00  163685.0  180617.5  241065.0           7.0
                   85   106987.50  115364.0  140695.5  166027.0           3.0
                   86   149912.00  149912.0  149912.0  149912.0           1.0
                   88   127818.00  187097.0  196694.0  206291.0           3.0
                   90    88586.25  163968.5  227175.0  313986.0          28.0

                                   ... hoursPerWeek       income            \
                             mean  ...          75%   max  count      mean
race               age             ...
Amer-Indian-Eskimo 17    6.666667  ...        20.00  20.0    3.0  1.000000
                   18    8.000000  ...        28.75  40.0    4.0  1.000000
                   19    8.000000  ...        25.00  40.0    5.0  1.000000
                   20    9.500000  ...        46.00  48.0    2.0  1.000000
                   21    9.166667  ...        40.00  46.0    6.0  1.166667
...                           ...  ...          ...   ...    ...       ...
White              84   10.714286  ...        34.00  66.0    7.0  1.142857
                   85   10.333333  ...        42.50  50.0    3.0  1.000000
                   86   14.000000  ...        40.00  40.0    1.0  1.000000
                   88   13.333333  ...        40.00  40.0    3.0  1.000000
                   90    9.928571  ...        41.25  99.0   28.0  1.214286


                             std  min  25%  50%  75%  max
race               age
Amer-Indian-Eskimo 17   0.000000  1.0  1.0  1.0  1.0  1.0
                   18   0.000000  1.0  1.0  1.0  1.0  1.0
                   19   0.000000  1.0  1.0  1.0  1.0  1.0
                   20   0.000000  1.0  1.0  1.0  1.0  1.0
                   21   0.408248  1.0  1.0  1.0  1.0  2.0
...                          ...  ...  ...  ...  ...  ...
White              84   0.377964  1.0  1.0  1.0  1.0  2.0
                   85   0.000000  1.0  1.0  1.0  1.0  1.0
                   86        NaN  1.0  1.0  1.0  1.0  1.0
                   88   0.000000  1.0  1.0  1.0  1.0  1.0
                   90   0.417855  1.0  1.0  1.0  1.0  2.0

[288 rows x 48 columns]

In [47]:
df.groupby(['sex', 'age']).describe()

           fnlwgt                                                     \
            count           mean            std       min        25%
sex    age
Female 17   150.0  169702.480000   89801.988215   19752.0  110741.75
       18   217.0  187845.986175  109542.883394   20057.0  118376.00
       19   294.0  200184.510204  115507.808025   25429.0  118892.25
       20   288.0  197897.864583  103755.196052   24896.0  125126.25
       21   276.0  188325.786232  102878.341865   20728.0  121311.00
...           ...            ...            ...       ...        ...
Male   83     5.0  214990.800000   45034.598019  153183.0  195507.00
       84     4.0  239353.250000  106040.961326  155057.0  168444.50
       85     2.0  106987.500000   11846.159905   98611.0  102799.25
       88     2.0  196694.000000   13572.207558  187097.0  191895.50
       90    24.0  150366.000000   91989.113553   40388.0   52386.00

                                          education-num             ...  \
                 50%        75%       max         count       mean  ...
sex    age                                                          ...
Female 17   159574.0  217040.75  452406.0         150.0   6.726667  ...
       18   169745.0  240543.00  761006.0         217.0   8.327189  ...
       19   194232.5  252208.75  693066.0         294.0   9.285714  ...
       20   190426.0  242554.25  745817.0         288.0   9.597222  ...
       21   188498.0  226414.00  688355.0         276.0   9.692029  ...
...              ...        ...       ...           ...        ...  ...
Male   83   213866.0  240150.00  272248.0           5.0   9.200000  ...
       84   206986.0  277894.75  388384.0           4.0  10.250000  ...
       85   106987.5  111175.75  115364.0           2.0  11.000000  ...
       88   196694.0  201492.50  206291.0           2.0  15.000000  ...
       90   154791.5  223116.00  313986.0          24.0  10.000000  ...

           hoursPerWeek       income                                           \
                    75%   max  count      mean       std  min  25%  50%   75%
sex    age
Female 17         23.00  40.0  150.0  1.000000  0.000000  1.0  1.0  1.0  1.00
       18         30.00  60.0  217.0  1.000000  0.000000  1.0  1.0  1.0  1.00
       19         40.00  60.0  294.0  1.000000  0.000000  1.0  1.0  1.0  1.00
       20         40.00  84.0  288.0  1.000000  0.000000  1.0  1.0  1.0  1.00
       21         40.00  70.0  276.0  1.007246  0.084971  1.0  1.0  1.0  1.00
...                 ...   ...    ...       ...       ...  ...  ...  ...   ...
Male   83         55.00  55.0    5.0  1.400000  0.547723  1.0  1.0  1.0  2.00
       84         42.75  66.0    4.0  1.250000  0.500000  1.0  1.0  1.0  1.25
       85         27.00  35.0    2.0  1.000000  0.000000  1.0  1.0  1.0  1.00
       88         40.00  40.0    2.0  1.000000  0.000000  1.0  1.0  1.0  1.00
       90         50.00  99.0   24.0  1.208333  0.414851  1.0  1.0  1.0  1.00


            max
sex    age
Female 17   1.0
       18   1.0
       19   1.0
       20   1.0
       21   2.0
...         ...
Male   83   2.0
       84   2.0
       85   1.0
       88   1.0
       90   2.0

[142 rows x 48 columns]

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [48]:
mar_status = [ word for word in df['marital-status'].unique() if word.startswith('Married') ]
mar_status

['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']

In [49]:
arr_marr = df[(df['sex'] == 'Male') &
     (df['marital-status'].isin(mar_status))]['income'].value_counts()
print(arr_marr)

income
1    7048
2    5721
Name: count, dtype: int64

In [50]:
arr_not_marr = df[(df['sex'] == 'Male') &
     (~df['marital-status'].isin(mar_status))]['income'].value_counts()
print(arr_not_marr)
print("Богатых среди женатых {0}%".format(round(100 * arr_marr[1]/(arr_marr[0]+arr_marr[1]), 2)))
print("Богатых среди холостых {0}%".format(round(100 * arr_not_marr[1]/(arr_not_marr[0]+arr_not_marr[1]), 2)))

income
1    6924
2     673
Name: count, dtype: int64

KeyError: 0

In [51]:
totally_men = len(df[(df['income']=='>50K')][(df['sex']=='Male')])
print('Totally men:', totally_men)

a = len(df[(df['marital-status']=='Married-civ-spouse')][(df['income']=='>50K')][(df['sex']=='Male')])
#print('Married-civ-spouse', a)
b = len(df[(df['marital-status']=='Married-spouse-absent')][(df['income']=='>50K')][(df['sex']=='Male')])
#print('Married-spouse-absent', b)
c = len(df[(df['marital-status']=='Married-AF-spouse')][(df['income']=='>50K')][(df['sex']=='Male')])
#print('Married-AF-spouse', c)
totally_married_men = a + b + c
print('Totally married men >50K:', totally_married_men)

Totally men: 0
Totally married men >50K: 0

/tmp/ipython-input-51-3954495619.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  totally_men = len(df[(df['income']=='>50K')][(df['sex']=='Male')])
/tmp/ipython-input-51-3954495619.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  a = len(df[(df['marital-status']=='Married-civ-spouse')][(df['income']=='>50K')][(df['sex']=='Male')])
/tmp/ipython-input-51-3954495619.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  a = len(df[(df['marital-status']=='Married-civ-spouse')][(df['income']=='>50K')][(df['sex']=='Male')])
/tmp/ipython-input-51-3954495619.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  b = len(df[(df['marital-status']=='Married-spouse-absent')][(df['income']=='>50K')][(df['sex']=='Male')])
/tmp/ipython-input-51-3954495619.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  b = len(df[(df['marital-status']=='Married-spouse-absent')][(df['income']=='>50K')][(df['sex']=='Male')])
/tmp/ipython-input-51-3954495619.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  c = len(df[(df['marital-status']=='Married-AF-spouse')][(df['income']=='>50K')][(df['sex']=='Male')])
/tmp/ipython-input-51-3954495619.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  c = len(df[(df['marital-status']=='Married-AF-spouse')][(df['income']=='>50K')][(df['sex']=='Male')])

**9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [52]:
max_work = df['hoursPerWeek'].max()
print("Макс. число часов - {0} час./нед.".format(max_work))

num_workers = df[df['hoursPerWeek'] == max_work].shape[0]
print("Всего людей с таким кол-ом часов {0}".format(num_workers))

per_rich = df[(df['hoursPerWeek'] == max_work) & (df['income'] == '>50K')].shape[0] / num_workers
print("Из них богатых {0}%".format(round(100 * per_rich, 2)))

Макс. число часов - 99 час./нед.
Всего людей с таким кол-ом часов 78
Из них богатых 0.0%

**10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много для каждой страны.**

In [53]:
for (country, salary), buff in df.groupby( ['nativeCountry', 'income']):
    print(country, salary, round(buff['hoursPerWeek'].mean(), 2))

Cambodia 1 41.55
Cambodia 2 40.0
Canada 1 38.7
Canada 2 46.94
China 1 38.54
China 2 38.9
Columbia 1 39.26
Columbia 2 50.0
Cuba 1 38.72
Cuba 2 42.44
Dominican-Republic 1 42.14
Dominican-Republic 2 47.0
Ecuador 1 38.74
Ecuador 2 48.75
El-Salvador 1 36.21
El-Salvador 2 45.0
England 1 41.38
England 2 44.53
France 1 42.87
France 2 50.75
Germany 1 40.07
Germany 2 44.98
Greece 1 41.81
Greece 2 50.62
Guatemala 1 39.33
Guatemala 2 36.67
Haiti 1 36.58
Haiti 2 42.75
Holand-Netherlands 1 40.0
Honduras 1 35.91
Honduras 2 60.0
Hong 1 39.08
Hong 2 45.0
Hungary 1 31.3
Hungary 2 50.0
India 1 38.23
India 2 46.48
Iran 1 41.5
Iran 2 47.5
Ireland 1 40.95
Ireland 2 48.0
Italy 1 40.36
Italy 2 45.62
Jamaica 1 38.21
Jamaica 2 41.1
Japan 1 41.33
Japan 2 48.09
Laos 1 40.4
Laos 2 40.0
Mexico 1 40.19
Mexico 2 46.58
Nicaragua 1 35.97
Nicaragua 2 37.5
Outlying-US(Guam-USVI-etc) 1 41.86
Peru 1 35.61
Peru 2 40.0
Philippines 1 37.97
Philippines 2 43.08
Poland 1 39.36
Poland 2 38.91
Portugal 1 42.13
Portugal 2 41.5
Puerto-Rico 1 38.43
Puerto-Rico 2 39.42
Scotland 1 39.44
Scotland 2 50.0
South 1 42.88
South 2 50.93
Taiwan 1 35.61
Taiwan 2 47.16
Thailand 1 45.07
Thailand 2 58.33
Trinadad&Tobago 1 36.88
Trinadad&Tobago 2 40.0
United-States 1 39.35
United-States 2 45.75
Vietnam 1 38.15
Vietnam 2 39.2
Yugoslavia 1 41.6
Yugoslavia 2 49.5

In [54]:
df.options.display.float_format = '{:.2f}'.format
avgHPWmaxIncome = adult[adult['income'] == '>50K'][['nativeCountry', 'hoursPerWeek']].groupby('nativeCountry').agg('mean').rename(columns={"hoursPerWeek": "avgHPWmaxIncome"})
avgHPWminIncome = adult[adult['income'] == '<=50K'][['nativeCountry', 'hoursPerWeek']].groupby('nativeCountry').agg('mean').rename(columns={"hoursPerWeek": "avgHPWminIncome"})
res = pd.concat([avgHPWmaxIncome, avgHPWminIncome], axis = 1)
res

AttributeError: 'DataFrame' object has no attribute 'options'

In [55]:
small_income = df[df['income'] == '<=50K'].groupby(['nativeCountry'])['hoursPerWeek'].median()
big_income = df[df['income'] == '>50K'].groupby(['nativeCountry'])['hoursPerWeek'].median()
pd.merge(small_income, big_income, left_on='nativeCountry', right_on='nativeCountry').rename(columns = {'hoursPerWeek_x':'hours/week, <=50K', 'hoursPerWeek_y':'hours/week, >50K'})

Empty DataFrame
Columns: [hours/week, <=50K, hours/week, >50K]
Index: []